O projeto deverá ser desenvolvido de forma estruturada, contemplando as etapas de importação dos dados, compreensão do conjunto de informações,

In [59]:
#iniciando a biblioteca pandas
import pandas as pd
from tabulate import tabulate

#lendo o arquivo csv e armazenando em um dataframe
df = pd.read_csv('../Src/titanic_dataset.csv')

#reduzindo o numero de caracteres exibidos para cada coluna
#pd.set_option('display.max_colwidth', 10)

#definindo a opção para não quebrar o dataframe em várias linhas
#pd.set_option("display.expand_frame_repr", False)

#exibindo as primeiras linhas do dataframe
print(tabulate(df.head(10), headers=df.columns, tablefmt="grid"))
print("---------------------------------------------------------")
print("\n")

+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|    |   PassengerId |   Survived |   Pclass | Name                                                | Sex    |   Age |   SibSp |   Parch | Ticket           |    Fare | Cabin   | Embarked   |
+====+===============+============+==========+=====================================================+========+=======+=========+=========+==================+=========+=========+============+
|  0 |             1 |          0 |        3 | Braund, Mr. Owen Harris                             | male   |    22 |       1 |       0 | A/5 21171        |  7.25   | nan     | S          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|  1 |             2 |          1 |        1 | Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female |    38 |       1 |       0 | PC 17599         | 71.2833 | C85     | C          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|  2 |             3 |          1 |        3 | Heikkinen, Miss. Laina                              | female |    26 |       0 |       0 | STON/O2. 3101282 |  7.925  | nan     | S          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|  3 |             4 |          1 |        1 | Futrelle, Mrs. Jacques Heath (Lily May Peel)        | female |    35 |       1 |       0 | 113803           | 53.1    | C123    | S          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|  4 |             5 |          0 |        3 | Allen, Mr. William Henry                            | male   |    35 |       0 |       0 | 373450           |  8.05   | nan     | S          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|  5 |             6 |          0 |        3 | Moran, Mr. James                                    | male   |   nan |       0 |       0 | 330877           |  8.4583 | nan     | Q          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|  6 |             7 |          0 |        1 | McCarthy, Mr. Timothy J                             | male   |    54 |       0 |       0 | 17463            | 51.8625 | E46     | S          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|  7 |             8 |          0 |        3 | Palsson, Master. Gosta Leonard                      | male   |     2 |       3 |       1 | 349909           | 21.075  | nan     | S          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|  8 |             9 |          1 |        3 | Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   | female |    27 |       0 |       2 | 347742           | 11.1333 | nan     | S          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
|  9 |            10 |          1 |        2 | Nasser, Mrs. Nicholas (Adele Achem)                 | female |    14 |       1 |       0 | 237736           | 30.0708 | nan     | C          |
+----+---------------+------------+----------+-----------------------------------------------------+--------+-------+---------+---------+------------------+---------+---------+------------+
---------------------------------------------------------

##Renomeando as colunas para tornar o dataset mais legível

In [62]:
#renomeando as colunas do dataframe
df.columns = ['ID_Passageiro',
              'Sobrevivente',
              'Classe',
              'Nome',
              'Genero',
              'Idade',
              'Irmãos_Esposas_Bordo',
              'Pais_Filhos_Bordo',
              'Bilhete',
              'Tarifa',
              'Cabine',
              'Porto_Embarque']

# Informando a tradução das colunas do dataset Titanic para português
# Colunas originais do dataset Titanic
colunas_originais = [
    "PassengerId", "Survived", "Pclass", "Name", "Sex", "Age",
    "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"
]

# Tradução para português
colunas_novas = [
    'ID_Passageiro', 'Sobrevivente', 'Classe', 'Nome', 'Genero', 'Idade',
    'Irmãos_Esposas_Bordo', 'Pais_Filhos_Bordo','Bilhete', 'Tarifa', 'Cabine', 'Porto_Embarque'
]

# Criar DataFrame comparativo
df_colunas = pd.DataFrame({
    "Original": colunas_originais,
    "Português": colunas_novas
})

print("Tradução das colunas do dataset Titanic para português:")
print(tabulate(df_colunas, headers=df_colunas.columns, tablefmt="grid"))

#exibindo as primeiras linhas do dataframe
print("Head (10 registros) do dataframe com as colunas renomeadas:")
print(tabulate(df.head(10), headers=df.columns, tablefmt="grid"))
#print(df.head(10))
print("---------------------------------------------------------")
print("\n")

Tradução das colunas do dataset Titanic para português:
+----+-------------+----------------------+
|    | Original    | Português            |
+====+=============+======================+
|  0 | PassengerId | ID_Passageiro        |
+----+-------------+----------------------+
|  1 | Survived    | Sobrevivente         |
+----+-------------+----------------------+
|  2 | Pclass      | Classe               |
+----+-------------+----------------------+
|  3 | Name        | Nome                 |
+----+-------------+----------------------+
|  4 | Sex         | Genero               |
+----+-------------+----------------------+
|  5 | Age         | Idade                |
+----+-------------+----------------------+
|  6 | SibSp       | Irmãos_Esposas_Bordo |
+----+-------------+----------------------+
|  7 | Parch       | Pais_Filhos_Bordo    |
+----+-------------+----------------------+
|  8 | Ticket      | Bilhete              |
+----+-------------+----------------------+
|  9 | Fare        | Tarifa               |
+----+-------------+----------------------+
| 10 | Cabin       | Cabine               |
+----+-------------+----------------------+
| 11 | Embarked    | Porto_Embarque       |
+----+-------------+----------------------+
Head (10 registros) do dataframe com as colunas renomeadas:
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|    |   ID_Passageiro |   Sobrevivente |   Classe | Nome                                                | Genero   |   Idade |   Irmãos_Esposas_Bordo |   Pais_Filhos_Bordo | Bilhete          |   Tarifa | Cabine   | Porto_Embarque   |
+====+=================+================+==========+=====================================================+==========+=========+========================+=====================+==================+==========+==========+==================+
|  0 |               1 |              0 |        3 | Braund, Mr. Owen Harris                             | male     |      22 |                      1 |                   0 | A/5 21171        |   7.25   | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  1 |               2 |              1 |        1 | Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female   |      38 |                      1 |                   0 | PC 17599         |  71.2833 | C85      | C                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  2 |               3 |              1 |        3 | Heikkinen, Miss. Laina                              | female   |      26 |                      0 |                   0 | STON/O2. 3101282 |   7.925  | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  3 |               4 |              1 |        1 | Futrelle, Mrs. Jacques Heath (Lily May Peel)        | female   |      35 |                      1 |                   0 | 113803           |  53.1    | C123     | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  4 |               5 |              0 |        3 | Allen, Mr. William Henry                            | male     |      35 |                      0 |                   0 | 373450           |   8.05   | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  5 |               6 |              0 |        3 | Moran, Mr. James                                    | male     |     nan |                      0 |                   0 | 330877           |   8.4583 | nan      | Q                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  6 |               7 |              0 |        1 | McCarthy, Mr. Timothy J                             | male     |      54 |                      0 |                   0 | 17463            |  51.8625 | E46      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  7 |               8 |              0 |        3 | Palsson, Master. Gosta Leonard                      | male     |       2 |                      3 |                   1 | 349909           |  21.075  | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  8 |               9 |              1 |        3 | Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   | female   |      27 |                      0 |                   2 | 347742           |  11.1333 | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  9 |              10 |              1 |        2 | Nasser, Mrs. Nicholas (Adele Achem)                 | female   |      14 |                      1 |                   0 | 237736           |  30.0708 | nan      | C                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
---------------------------------------------------------

## Apresentando outras informações do dataset

In [61]:
#Exibindo a quantidade de linhas e colunas do dataframe
print("Quantidade de linhas e colunas do dataframe:")
linhas = (df.shape[0])
colunas = (df.shape[1])
print(f"Linhas: {linhas}")
print(f"Colunas: {colunas}")
print("---------------------------------------------------------")
print("\n")

#Exibindo outras informações sobre o dataframe
print("Informações sobre o dataframe:")
print(df.info())

print("---------------------------------------------------------")
print("\n")

#Exibindo a quantidade de valores nulos em cada coluna
print("Quantidade de valores nulos em cada coluna:")
print(df.isnull().sum())
print("---------------------------------------------------------")
print("\n")

#Verificando a quantidade de linhas repetidas no dataframe
linhas_repetidas = df.duplicated().sum()
print(f"Quantidade de linhas repetidas: {linhas_repetidas}")
print("---------------------------------------------------------")
print("\n")


print(df.describe())

Quantidade de linhas e colunas do dataframe:
Linhas: 891
Colunas: 12
---------------------------------------------------------


Informações sobre o dataframe:
<class 'pandas.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_Passageiro         891 non-null    int64
 1   Sobrevivente          891 non-null    int64
 2   Classe                891 non-null    int64
 3   Nome                  891 non-null    str
 4   Genero                891 non-null    str
 5   Idade                 714 non-null    float64
 6   Irmãos_Esposas_Bordo  891 non-null    int64
 7   Pais_Filhos_Bordo     891 non-null    int64
 8   Bilhete               891 non-null    str
 9   Tarifa                891 non-null    float64
 10  Cabine                204 non-null    str
 11  Porto_Embarque        889 non-null    str
dtypes: float64(2), int64(5), str(5)
memory usage: 83.7 KB
None
---------------------------------------------------------


Quantidade de valores nulos em cada coluna:
ID_Passageiro             0
Sobrevivente              0
Classe                    0
Nome                      0
Genero                    0
Idade                   177
Irmãos_Esposas_Bordo      0
Pais_Filhos_Bordo         0
Bilhete                   0
Tarifa                    0
Cabine                  687
Porto_Embarque            2
dtype: int64
---------------------------------------------------------


Quantidade de linhas repetidas: 0
---------------------------------------------------------


       ID_Passageiro  Sobrevivente     Classe      Idade  Irmãos_Esposas_Bordo  Pais_Filhos_Bordo     Tarifa
count  891.00...      891.00...     891.00...  714.00...  891.00...             891.00...          891.00...
mean   446.00...       0.383838      2.308642  29.699118   0.523008              0.381594          32.204208
std    257.35...       0.486592      0.836071  14.526497   1.102743              0.806057          49.693429
min     1.000000       0.000000      1.000000   0.420000   0.000000              0.000000           0.000000
25%    223.50...       0.000000      2.000000  20.125000   0.000000              0.000000           7.910400
50%    446.00...       0.000000      3.000000  28.000000   0.000000              0.000000          14.454200
75%    668.50...       1.000000      3.000000  38.000000   1.000000              0.000000          31.000000
max    891.00...       1.000000      3.000000  80.000000   8.000000              6.000000          512.32...