A análise deverá envolver a compreensão das variáveis, a aplicação de fi ltros, ordenações e agrupamentos (GroupBy), bem como a construção de pelo menos uma visualização gráfi ca que represente a distribuição dos dados ou a relação entre variáveis relevantes, utilizando a linguagem Python e bibliotecas adequadas ao contexto da análise exploratória.

In [2]:
#iniciando a biblioteca pandas
import pandas as pd
from tabulate import tabulate

#lendo o arquivo csv e armazenando em um dataframe
df = pd.read_csv('../Src/titanic_dataset.csv')

##Renomeando as colunas para tornar o dataset mais legível

In [3]:
#renomeando as colunas do dataframe
df.columns = ['ID_Passageiro',
              'Sobrevivente',
              'Classe',
              'Nome',
              'Genero',
              'Idade',
              'Irmãos_Esposas_Bordo',
              'Pais_Filhos_Bordo',
              'Bilhete',
              'Tarifa',
              'Cabine',
              'Porto_Embarque']

# Informando a tradução das colunas do dataset Titanic para português
# Colunas originais do dataset Titanic
colunas_originais = [
    "PassengerId", "Survived", "Pclass", "Name", "Sex", "Age",
    "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"
]

# Tradução para português
colunas_novas = [
    'ID_Passageiro', 'Sobrevivente', 'Classe', 'Nome', 'Genero', 'Idade',
    'Irmãos_Esposas_Bordo', 'Pais_Filhos_Bordo','Bilhete', 'Tarifa', 'Cabine', 'Porto_Embarque'
]

# Criar DataFrame comparativo
df_colunas = pd.DataFrame({
    "Original": colunas_originais,
    "Português": colunas_novas
})

print("Tradução das colunas do dataset Titanic para português:")
print(tabulate(df_colunas, headers=df_colunas.columns, tablefmt="grid"))

#exibindo as primeiras linhas do dataframe
print("Head (10 registros) do dataframe com as colunas renomeadas:")
print(tabulate(df.head(10), headers=df.columns, tablefmt="grid"))
#print(df.head(10))
print("---------------------------------------------------------")
print("\n")

Tradução das colunas do dataset Titanic para português:
+----+-------------+----------------------+
|    | Original    | Português            |
+====+=============+======================+
|  0 | PassengerId | ID_Passageiro        |
+----+-------------+----------------------+
|  1 | Survived    | Sobrevivente         |
+----+-------------+----------------------+
|  2 | Pclass      | Classe               |
+----+-------------+----------------------+
|  3 | Name        | Nome                 |
+----+-------------+----------------------+
|  4 | Sex         | Genero               |
+----+-------------+----------------------+
|  5 | Age         | Idade                |
+----+-------------+----------------------+
|  6 | SibSp       | Irmãos_Esposas_Bordo |
+----+-------------+----------------------+
|  7 | Parch       | Pais_Filhos_Bordo    |
+----+-------------+----------------------+
|  8 | Ticket      | Bilhete              |
+----+-------------+----------------------+
|  9 | Fare        | Tarifa               |
+----+-------------+----------------------+
| 10 | Cabin       | Cabine               |
+----+-------------+----------------------+
| 11 | Embarked    | Porto_Embarque       |
+----+-------------+----------------------+
Head (10 registros) do dataframe com as colunas renomeadas:
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|    |   ID_Passageiro |   Sobrevivente |   Classe | Nome                                                | Genero   |   Idade |   Irmãos_Esposas_Bordo |   Pais_Filhos_Bordo | Bilhete          |   Tarifa | Cabine   | Porto_Embarque   |
+====+=================+================+==========+=====================================================+==========+=========+========================+=====================+==================+==========+==========+==================+
|  0 |               1 |              0 |        3 | Braund, Mr. Owen Harris                             | male     |      22 |                      1 |                   0 | A/5 21171        |   7.25   | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  1 |               2 |              1 |        1 | Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female   |      38 |                      1 |                   0 | PC 17599         |  71.2833 | C85      | C                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  2 |               3 |              1 |        3 | Heikkinen, Miss. Laina                              | female   |      26 |                      0 |                   0 | STON/O2. 3101282 |   7.925  | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  3 |               4 |              1 |        1 | Futrelle, Mrs. Jacques Heath (Lily May Peel)        | female   |      35 |                      1 |                   0 | 113803           |  53.1    | C123     | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  4 |               5 |              0 |        3 | Allen, Mr. William Henry                            | male     |      35 |                      0 |                   0 | 373450           |   8.05   | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  5 |               6 |              0 |        3 | Moran, Mr. James                                    | male     |     nan |                      0 |                   0 | 330877           |   8.4583 | nan      | Q                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  6 |               7 |              0 |        1 | McCarthy, Mr. Timothy J                             | male     |      54 |                      0 |                   0 | 17463            |  51.8625 | E46      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  7 |               8 |              0 |        3 | Palsson, Master. Gosta Leonard                      | male     |       2 |                      3 |                   1 | 349909           |  21.075  | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  8 |               9 |              1 |        3 | Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   | female   |      27 |                      0 |                   2 | 347742           |  11.1333 | nan      | S                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
|  9 |              10 |              1 |        2 | Nasser, Mrs. Nicholas (Adele Achem)                 | female   |      14 |                      1 |                   0 | 237736           |  30.0708 | nan      | C                |
+----+-----------------+----------------+----------+-----------------------------------------------------+----------+---------+------------------------+---------------------+------------------+----------+----------+------------------+
---------------------------------------------------------