preparação e tratamento dos dados, incluindo a verifi cação e o tratamento de valores nulos ou duplicados, ajustes de tipagem e organização das colunas.

Tratatando os valores nulos

In [18]:
#iniciando a biblioteca pandas
import pandas as pd

#Lendo o arquivo CSV do dataset do Titanic
df = pd.read_csv('../Src/titanic_dataset.csv')

#Exibindo a quantidade de valores nulos em cada coluna
print("Quantidade de valores nulos em cada coluna:")
print(df.isnull().sum())
print("---------------------------------------------------------")
print("\n")

Quantidade de valores nulos em cada coluna:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
---------------------------------------------------------

Tratatando os valores nulos para idade (177 ocorrências)

In [22]:
#verificando quantos valores nulos existem na coluna 'Age'
Age_null_count = df['Age'].isnull().sum()
print("---------------------------------------------------------")
print("Quantidade de valores nulos na coluna 'Age':", Age_null_count)
print("---------------------------------------------------------")

#Verificando os valores existentes na coluna 'Age'
print("Valores únicos na coluna 'Age':")
print(df['Age'].unique())
print("---------------------------------------------------------")

#substituindo os valores nulos da coluna 'Age' por 0
df['Age'] = df['Age'].fillna(0)

#verificando se os valores nulos foram substituídos por 0
Age_null_count = df['Age'].isnull().sum()
print("Todos os valores nulos da coluna 'Age' foram substituídos por 0.")
print("Quantidade de valores nulos na coluna 'Age':", Age_null_count)
print("---------------------------------------------------------")

---------------------------------------------------------
Quantidade de valores nulos na coluna 'Age': 0
---------------------------------------------------------
Valores únicos na coluna 'Age':
[22.   38.   26.   35.    0.   54.    2.   27.   14.    4.   58.   20.
 39.   55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.
 18.    3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.
 16.   25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.
 14.5  70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.
 56.   50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.
 60.   10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.
  0.67 30.5   0.42 34.5  74.  ]
---------------------------------------------------------
Todos os valores nulos da coluna 'Age' foram substituídos por 0.
Quantidade de valores nulos na coluna 'Age': 0
---------------------------------------------------------

Tratando os dados nulos no campo cabine

In [ ]:
#verificando quantos valores nulos existem na coluna 'Age'
Cabin_null_count = df['Cabin'].isnull().sum()
print("---------------------------------------------------------")
print("Quantidade de valores nulos na coluna 'Cabine':", Cabin_null_count)
print("---------------------------------------------------------")

#Verificando os valores existentes na coluna 'Cabin'
print("Valores únicos na coluna 'Cabin':")
print(df['Cabin'].unique())
print("---------------------------------------------------------")

#substituindo os valores nulos da coluna 'Cabin' por 'Not known'
df['Cabin'] = df['Cabin'].fillna('Not known')

#verificando se os valores nulos foram substituídos por 'Not known'
Cabin_null_count = df['Cabin'].isnull().sum()
print("Todos os valores nulos da coluna 'Cabin' foram substituídos por 'Not known'.")
print("Quantidade de valores nulos na coluna 'Cabin':", Cabin_null_count)
print("---------------------------------------------------------")

Tratadando os valores nulos para Porto de Embarque

In [26]:
#verificando quantos valores nulos existem na coluna 'Embarked'
Embarked_null_count = df['Embarked'].isnull().sum()
print("---------------------------------------------------------")
print("Quantidade de valores nulos na coluna 'Embarked':", Embarked_null_count)
print("---------------------------------------------------------")

#Verificando os valores existentes na coluna 'Embarked'
print("Valores únicos na coluna 'Embarked':")
print(df['Embarked'].unique())
print("---------------------------------------------------------")

#substituindo os valores nulos da coluna 'Embarked' por 'Not known'
df['Embarked'] = df['Embarked'].fillna('Not known')

#verificando se os valores nulos foram substituídos por 'Not known'
Embarked_null_count = df['Embarked'].isnull().sum()
print("Todos os valores nulos da coluna 'Embarked' foram substituídos por 'Not known'.")
print("Quantidade de valores nulos na coluna 'Embarked':", Embarked_null_count)
print("---------------------------------------------------------")

---------------------------------------------------------
Quantidade de valores nulos na coluna 'Embarked': 0
---------------------------------------------------------
Valores únicos na coluna 'Embarked':
<StringArray>
['S', 'C', 'Q', 'Not known']
Length: 4, dtype: str
---------------------------------------------------------
Todos os valores nulos da coluna 'Embarked' foram substituídos por 'Not known'.
Quantidade de valores nulos na coluna 'Embarked': 0
---------------------------------------------------------